<div class="widget tag">
<h3 class="title">More Links</h3>
<ul class="entry">
<li><a href="https://github.com/" title="github" target="_blank">Github</a></li>
<li><a href="http://www.quora.com/" title="quora" target="_blank" >Quora</a></li>
<li><a href="http://mail.qq.com/" title="QQMail" target="_blank">Mail</a></li>
<li><a href="http://www.google.com/" title="google" target="_blank">Google</a></li>
<li><a href="https://stackoverflow.com/" title="stackoverflow" target="_blank">StackOverflow</a></li>
<li><a href="https://www.ted.com/" title="ted" target="_blank">Ted</a></li>
<li><a href="https://www.douban.com/" title="douban" target="_blank">Douban</a></li>
<li><a href="http://www.baidu.com/" title="baidu" target="_blank">Baidu</a></li>
<li><a href="http://www.zhihu.com/" title="zhihu" target="_blank">Zhihu</a></li>
</ul>
</div>
