<div class="widget tag">
<h3 class="title">More Blogs</h3>
<ul class="entry">
<li><a href="http://zipperary.com/" title="zipperary" target="_blank">Zipperary</a></li>
<li><a href="http://ijiaober.github.io//" title="ijiaober" target="_blank">Ijiaober</a></li>
</ul>
</div>
